<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The beginnings of a crowdsourced phrase dictionary, to be powered by a collection of semi-automatically translated texts. Until then, enjoy some simple word-for-word translations with syntax highlighting.
Built using React, RxJS, PEG.js, RiTa, and Phoenix by Justin Silvestre.">
    <meta name="author" content="Justin Silvestre">

    <title>Read and Learn Toki Pona - lipu pi toki pona</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rita/1.1.51/rita-full.min.js"></script>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>lipu pi toki pona
        <br /><small>Read and learn Toki Pona</small></h1>
      </header>
      <main>
        <section class="info">
          <section>
            Toki Pona is a language constructed by <a href="http://tokipona.org">Sonja Lang</a> using a lexicon of just 120 words.
            A thought expressed in Toki Pona is a thought boiled down to its essence.
          </section>
          <section>
            This app is the beginnings of a <strong>crowdsourced phrase
            dictionary</strong>, to be powered by a collection
            of <strong>semi-automatically translated texts</strong>.
            Until then, enjoy some simple word-for-word translations with syntax highlighting.
          </section>
          <section>
            <a href="https://github.com/justinsilvestre/lipu-pi-toki-pona">Built</a> using React, RxJS, PEG.js, RiTa, and Phoenix by <a href="http://justinreally.codes/">Justin Silvestre</a>.
          </section>
        </section>
        <section id="root" class="translate">

        </section>
      </main>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
