body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #555555;
}

a {
  color: #2a78d5;
  text-decoration: none;
  transition: .3s;
}
a:hover {
  /*color: #00b4ff;*/
  color: #c2b819;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em auto;
  max-width: 900px;
}

header {
  width: 100%;
  margin: 0 1em;
}
h1 small { font-weight: normal }

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.translate {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.inputContainer {
  /*margin: 1em;
  width: 13em;
  min-width: 13em;*/
  margin: 1em;
  width: 100%;
}
.input {
  /*height: 25rem;*/
  height: 5rem;
  width: 100%;
  border: 0;
}
.input.syntaxError {
  background-color: #FFEEEE;
}
.translateButton {
  width: 100%;
  background: #edf2f8;
  border: 0;
  color: #3b5959;
  transition: .3s;
}
.translateButton:hover {
  background: #00b4ff;
  background: #f5f5ea;
}

.output {
  margin: 0 2em;
}

.sentenceContainer{
  display: inline-block;
  padding-right: .4em;
  text-align: left;
  min-height: 4em;
  color: black;
}
.sentenceTranslation {
  animation-name: just-translated;
  animation-duration: .3s;
}

@keyframes just-selected {
  0% {
    color: rgb(198, 217, 255);
    transform: translateY(0);
    text-shadow: 0 0 0 black;
  }
  100% {
  }
}
@keyframes just-translated {
  0% {
    color: rgb(198, 217, 255);
    transform: translateY(-40%);
    text-shadow: 0 0 0 black;
  }
  100% {
  }
}

@keyframes popover {
  0% {
    opacity: 0;
    transform: scaleY(0) translateX(-50%);
  }
  100% { transform: scaleY(1) translateX(-50%); }
}

.selected {
  text-shadow: 0px 1px 1px black;
  animation-name: just-selected;
  animation-duration: .2s;
  transform: translateY(-1px)
}

.enWord.highlighted {
  color: #cbac00;
}

.selecting {
}

.word {
  cursor: pointer;
  padding: .1em;
}
.word:focus {
  /*outline: 0;*/
}

.translationMenu {
  position: absolute;
  background-color: rgba(221, 222, 221, 0.94);
  border: solid 1px rgb(247, 247, 247);
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1000;
  animation-name: popover;
  transform-origin: top center;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.translationMenuPartsOfSpeech {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin: 0;
  background-color: rgb(175, 178, 175);
  justify-content: flex-start;
}
.translationMenuPartsOfSpeech > li {
  padding: .2rem .5rem;
  font-size: .6rem;
  background-color: rgba(222,222,222,.8);
  margin-left: 0.1rem;
}
.translationMenuPartsOfSpeech > li:first-child {
  margin-left: 0;
}
.translationMenuLemmaOptions {
  list-style-type: none;
  padding: .3rem;
  margin: 0;
  text-align: center;
  font-size: .8rem;
  max-height: 5rem;
  min-width: 5rem;
  overflow-y: auto;
}
.translationMenuLemmaOptions > li {
  cursor: pointer;
}
.wordContainer {
  position: relative;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 2em;
  font-size: 0.8rem;

  width: 100%;
}
.info > section {
  margin: 1em;
  box-sizing: border-box;
  text-align: justify;
}

.error {
  position: absolute;
  text-shadow: 0 0 10px orangered;
  color: #c04747;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 735px) {
  main {
    flex-wrap: nowrap;
  }
  .info {
    width: 20rem;
  }
}
