body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

@keyframes just-selected{
  0% {
    color: rgb(198, 217, 255);
  }
  100% {
  }
}

.selected {
  color: lightblue;
  text-shadow: 0px 1px 1px black;
  animation-name: just-selected;
  animation-duration: .2s;
}

.highlighted {
  color: yellow;
}

.selecting {
}

.word {
  cursor: default;
  white-space: pre;
}
