body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

@keyframes just-selected {
  0% {
    color: rgb(198, 217, 255);
    transform: translateY(0);
    text-shadow: 0 0 0 black;
  }
  100% {
  }
}

@keyframes popover {
  0% {
    opacity: 0;
    transform: scaleY(0) translateX(-50%);
  }
  100% { transform: scaleY(1) translateX(-50%); }
}

.selected {
  text-shadow: 0px 1px 1px black;
  animation-name: just-selected;
  animation-duration: .2s;
  transform: translateY(-1px)
}

.highlighted {
  color: yellow;
}

.selecting {
}

.word {
  cursor: default;
  padding: .1em;
}
.word:focus {
  /*outline: 0;*/
}

.translationMenu {
  position: absolute;
  background-color: rgba(221, 222, 221, 0.94);
  border: solid 1px rgb(247, 247, 247);
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1000;
  animation-name: popover;
  transform-origin: top center;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.translationMenuPartsOfSpeech {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin: 0;
  background-color: rgb(175, 178, 175);
  justify-content: flex-start;
}
.translationMenuPartsOfSpeech > li {
  padding: .2rem .5rem;
  font-size: .6rem;
  background-color: rgba(222,222,222,.8);
  margin-left: 0.1rem;
}
.translationMenuPartsOfSpeech > li:first-child {
  margin-left: 0;
}
.translationMenuLemmaOptions {
  list-style-type: none;
  padding: .3em;
  margin: 0;
  text-align: center;
  font-size: initial;
  max-height: 5em;
  overflow-y: auto;
}
.wordContainer {
  position: relative;
}

.error {
  position: absolute;
  text-shadow: 0 0 10px orangered;
  color: #c04747;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
